body {
    font-family: "Lato", sans-serif !important;
}

:root {
    --color-white: #ffffff;
    --color-dark-text: #161012;
    --color-dark-grey: #6b7376;
    --color-text-grey: #b6bbc1;
    --color-headers: #eaeaea;
    --color-contact-hover: #e9ebeb;
    --color-light-icons: #b1b1b1;
    --color-sent-message: #d5f9ba;
    --color-notification: #8edafc;
    --my-bg-color: linear-gradient(to bottom,
            #009688 0%,
            #009688 20%,
            #dbdbd3 20%,
            #dbdbd3 100%);
}

#app {
    width: 100%;
    height: 100vh;
    background: var(--my-bg-color);
    padding: 20px;
}

.header {
    background-color: var(--color-headers);
}

.contacts {
    background-color: var(--color-white);
}

.h0 {
    height: 0;
}

.sent {}

.received {}

.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon{
    font-size: 20px;
    color: var(--color-dark-grey);
}

.mybg-notifiche{
    background-color: var(--color-notification);
}

.bell{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
}

.icon-bell{
    font-size: 20px;
    color: var(--color-notification);
}

.my-date{
    position: absolute;
    top: 10px;
    right: 10px;
}

.my-text-grey{
    color: var(--color-dark-grey);
}

.my-bg-messaggi{
    background-image: url('../img/mine.jpg');
}

.sent {
    margin: 25px 25px;
    display: flex;
    justify-content: end;
}
.sent-message {
    background-color: var(--color-sent-message);
    padding: 20px;
    padding-right: 8rem;
    border-radius: 15px;
    position: relative;
}
.received {
    margin: 25px 25px;
    display: flex;
}
.received-message {
    background-color: white;
    padding: 20px;
    padding-right: 8rem;
    border-radius: 15px;
    position: relative;
}
.hour-message {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.6rem;
}

.my-dropdown > a{
    position:  absolute;
    top: 0;
    right: 10px;
}